.Navbar{
    background-color: black;
    color: aliceblue;
}
li{
    padding: 10px 0;
    text-align:center ;
}
  table{
    border: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
  }
  td{
    padding: 10px;
    text-align :center;
  }